

 .country__list{
   width: 185px;
 }
 

 label {
  display: table;
 }

 .array__set{
   border: 1px solid black;
   display: table;
   padding: 20px;
 }

 
 pre {
  margin-left: 150px;
 }

 .wrapper {
  display: flex;
 }
 