
    <form [formGroup]= "myFormGroup" >

      <div   class="formGroup" *ngFor="let item of schema.properties ">
          
         <div *ngIf="item.type == 'string'">
             <label  for="{{item.name}}">{{item.label}}</label>
             <input [formControlName]="item.name" 
                    id="{{item.name}}" 
                    name="{{item.name}}" 
                    [type]="item?.inputType" 
                    [placeholder]="item.name">
         </div>

         <div *ngIf="item.type == 'number'" >
              <label for="{{item.name}}">{{item.label}}</label>
              <input [formControlName]="item.name" id="{{item.name}}" [placeholder]="item.name">
         </div>

         <div *ngIf="item.type == 'enum'">
             <label for="{{item.name}}">{{item.label}}</label>
             <select [formControlName]="item.name" id="{{item.name}}" name="{{item.name}}" id="">
                 <option value="" selected disabled hidden>Choose here</option>
                 <option *ngFor="let country of item.options" value="{{country.value}}">
                  {{country.label}}
                 </option>
             </select>
         </div>

         <div *ngIf="item.type == 'boolean'">
             <label for="{{item.name}}">{{item.label}}</label>
              <input [formControlName]="item.name" id="{{item.name}}" type="checkbox"  name="{{item.name}}">
         </div>

      </div>
  
   <p>{{myFormGroup.value | json}}</p>
     
      <button  type="submit">submit</button>
  </form>







