
<div class="wrapper" *ngIf="schema">
    <form class="form" [formGroup]= "myFormGroup"  (submit)="handleSubmit($event)"  ngNativeValidate >
        <div   class="formGroup" *ngFor="let item of schema.properties ">
            <!-- STRING -->
           <div *ngIf="item.type == 'string'">
               <label  for="{{item.name}}">{{item.label}}</label>
               <input [formControlName]="item.name" 
                      id="{{item.name}}" 
                      name="{{item.name}}" 
                      [type]="item?.inputType || 'text'" 
                      [placeholder]="item.name"
                      *ngIf="!item.multiline; else textArea"
                      minlength="{{item.minLength}}"
                      maxlength="{{item.maxLength}}"
                      pattern="{{item.pattern}}"
                      required
                      >

                <ng-template #textArea>
                    <textarea    
                      id="{{item.name}}" name="{{item.name}}" 
                      id="" cols="30" rows="10"
                      [formControlName]="item.name" 
                      required
                      minlength="{{item.minLength}}"
                      maxlength="{{item.maxLength}}">
                                
                    </textarea>
                </ng-template>
           </div>
           <!-- NUMBER -->
           <div *ngIf="item.type == 'number'" >
                    <label for="{{item.name}}">
                        {{item.label}}
                    </label>
                    <input 
                      [formControlName]="item.name" 
                      id="{{item.name}}" 
                      [placeholder]="item.name"
                      type="number" 
                      min="{{item.minimum}}"
                      max="{{item.maximum}}"
                      required
                      
                    >
           </div>
           <!-- ENUM -->
           <div *ngIf="item.type == 'enum'">
               <label for="{{item.name}}">{{item.label}}</label>
               <select [formControlName]="item.name" 
                       id="{{item.name}}" 
                       name="{{item.name}}" >
                   <option value="" selected disabled hidden>
                       Choose here
                    </option>
                   <option *ngFor="let country of item.options" value="{{country.value}}">
                         {{country.label}}
                   </option>
               </select>
           </div>
           <!-- BOOLEAN -->
           <div *ngIf="item.type == 'boolean'">
               <label for="{{item.name}}">
                   {{item.label}}
                </label>

                <input [formControlName]="item.name"
                       id="{{item.name}}" type="checkbox"
                       name="{{item.name}}">
           </div>
                <!-- ARRAY -->
           <div class="array__set" *ngIf="item.type == 'array'">
                <div [formArrayName]="item.name" >
                    <div *ngFor="let res of getArray(myFormGroup, item.name)['controls']; let i = index">
                        <label for="{{item.name}}">
                            {{item.label}}
                        </label>
                        <ng-container *ngIf="item.item">
                            <div class="attachments"  >
                                <label for="">{{item.item.label}}</label>
                                <ng-container [formGroupName]="i" *ngFor="let obj of item.item.properties">
                                    <ng-container *ngIf="obj.type === 'string' || obj.type === 'number' ;">
                                        <input  [formControlName]="obj.name"
                                        id="{{obj.name}}"
                                        type="text" 
                                        name="{{obj.name}}" 
                                        [placeholder]="obj.name"
                                        required>
                                    </ng-container>
                                    <ng-container *ngIf="obj.type === 'array';">
                                        <div class="attachments"  [formArrayName]="obj.name"  >
                                            <div *ngFor="let res of getArray(myFormGroup, item.name)['controls']; let i = index">
                                                <label for="">{{obj.label}}</label>
                                                    <ng-container [formGroupName]="i"  *ngIf="obj.item">
                                                            <div  class="attachments" >
                                                                <label for="">{{obj.item.label}}</label>
                                                                    <ng-container  *ngFor="let key of obj.item.properties">
                                                                        <input  [formControlName]="key.name"
                                                                        id="{{key.name}}"
                                                                        type="text" 
                                                                        name="{{key.name}}" 
                                                                        [placeholder]="key.type"
                                                                        required>
                                                                    </ng-container>
                                                                    <button disabled  (click)="addAliasComplex(getArray(myFormGroup,item.name))" type="button">Add</button>
                                                                        <!-- <button 
                                                                        (click)="removeQuestion(getArray(myFormGroup, item.name),i)"
                                                                        type="button" 
                                                                        *ngIf="getArray(myFormGroup, item.name)['controls'].length > 1">delete</button> -->
                                                            </div>
                                                    </ng-container>
                                            </div>
                                        </div> 
                                    </ng-container>
                                   </ng-container> 
                                   <button 
                                   (click)="removeQuestion(getArray(myFormGroup, item.name),i)"
                                   type="button" 
                                   *ngIf="getArray(myFormGroup, item.name)['controls'].length > 1">delete</button>
                            </div>
                        </ng-container>
                    </div>   
                    <button *ngIf="item.item.name === 'technology'" (click)="addAlias(getArray(myFormGroup,item.name))" type="button">Add</button>
                    <button *ngIf="item.item.name === 'project'" (click)="addAliasP(getArray(myFormGroup,item.name))" type="button">Add</button>
                    <button *ngIf=" item.item.properties[0].name ==='string' "  (click)="addAliasSimple(getArray(myFormGroup,item.name))" type="button">Add</button>
                </div>
           </div>
        </div>
        <!-- OBJECT -->
         <app-form-object [forms]="myFormGroup" [data]="schema"></app-form-object>
        <button  type="submit" >submit</button> 
    </form>
    <pre >{{ this.myFormGroup.value | json }}</pre>
</div>

